<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <br />
  <div class="field_with_errors">
    <%= f.text_field :name %>
  </div>
  <br />
    <%= f.label :description %>
  <br />
  <div class="field_with_errors">
    <%= f.text_area :description %>
  </div>
  <br />
    <%= f.label :cook_time %>
  <br />
  <div class="field_with_errors">
    <%= f.text_field :cook_time %>
  </div>
  <br />
    <%= f.label :servings %>
  <br />
  <div class="field_with_errors">
    <%= f.text_field :servings %>
  </div>
  <br />
Ingredients:
<br />
  <%= f.fields_for :ingredients do |ingredients_fields| %>
      <%= ingredients_fields.text_field :name, list: "ingredients_autocomplete" %>
      <datalist id="ingredients_autocomplete">
        <% Ingredient.all.each do |ingredient| %>
        <option value="<%= ingredient.name %>">
          <% end %>
      </datalist>
  <% end %>


  <br />
  <%= f.label :instructions %>
  <br />
  <%= f.text_area :instructions %>
  <br />
  <%= f.collection_select :meal_id, Meal.all, :id, :title %>
  <br />
  <%= f.submit %>

<% end %>
