<%= form_for @recipe do |f| %>
  <div class="field_with_errors">
    <%= f.label :name %>
    <br />
    <%= f.text_field :name %>
  </div>

  <br />

  <%= f.label :description %>
  <br />
  <%= f.text_area :description %>

  <br />

  <%= f.label :cook_time %>
  <br />
  <%= f.text_field :cook_time %>

  <br />

  <%= f.label :servings %>
  <br />
  <%= f.text_field :servings %>

  <br />

  <p>Ingredients:</p>
  <br />
  <%= f.fields_for :ingredients do |ingredients_fields| %>
      <%= ingredients_fields.text_field :name, list: "ingredients_autocomplete" %>
      <datalist id="ingredients_autocomplete">
        <% Ingredient.all.each do |ingredient| %>
        <option value="<%= ingredient.name %>">
          <% end %>
      </datalist>
      <%= ingredients_fields.fields_for :recipe_ingredients do |r| %>
        <%= r.text_field :quantity %>
        <% end %> 
  <% end %>

  <br />

  <div class="field_with_errors">
    <%= f.label :instructions %>
    <br />
    <%= f.text_area :instructions %>
  </div>

  <br />
  <%= f.collection_select :meal_id, Meal.all, :id, :title %>
  <br />

  <%= f.submit %>

<% end %>
