<%= form_for @image do |f| %>

  <%= f.hidden_field :recipe_id %>

  <%= f.label :url %>
  <div class="field_with_errors">
    <%= f.text_field :url %>
  </div>

  <br />
  <%= f.label :caption %>
  
    <%= f.text_area :caption %>


  <br />
  <%= f.submit %>
<% end %>
